<link rel="stylesheet" href="css/style2.css">

<div id="active" style="margin: 100px 0">



    <main role="main">
        <img src="http://www.google.com/inbox/assets/images/intro/intro-logo.png" width="100" alt="" />
        <h1>Поздравляем с успешной активацией аккаунта</h1>
        <p>У Вас есть возможность ввойти на свой аккаунт и принять участие в любом актуальном ивенте</p>
        <p>Для перехода на главную страницу нажмите кнопку</p>
        <a class="btn blue" style="align-content: center" href="#!">Главная</a>
    </main>
</div>



